@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --blanco-opacidad: rgba(255, 255, 255, 0.5);
    --marron: rgb(41, 21, 3);
    --marron-opacidad: rgba(41, 21, 3,0.5);
    --marron-oliva: #8C7853;
    --beige-arena:#D3BCA0;
    --beige-arena-claro:#ddcebc;
    --rosa-claro: rgb(240, 217, 218);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-image:url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header*/

.contenedor .cabecera, .contenedor .banner header{
    position: relative;
    /* el contenedor se hace flexible */
    display: flex;
    width: 100%;
    /*alinea al centro horizontalmente*/
    justify-content: center;
    /*alinea al centro horizontalmente*/
    align-items: center;
    height: 10vh;
}

.contenedor .cabecera .logo{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    /*ocupe 1/3 del header*/
    width: 33.33%;
}

.contenedor .cabecera .logo img{
    width: 200px;
}

.contenedor .cabecera .reservaForm{
    /*ocupe 1/3 del header*/
    width: 33.33%;
    text-align: center;
}

#reservar,#reservarBanner{
    background-color: var(--beige-arena);
    padding: 7px 15px;
    /* que el borde sea redondeado */
    border-radius: 5px;
    border-color: var(--beige-arena);
    /* transforma el texto a mayusculas */
    text-transform: uppercase;
    color: var(--marron);
    /* Grosor del texto */
    font-weight: 600;
    /* que el cursor cambie para que sepa que se puede hacer click */
    cursor: pointer;
}

/* cuando pasas por encima */
#reservar:hover,#reservarBanner:hover{
    background-color: var(--marron);
    border-color: var(--marron);
    /* Le pongo un filtro para quitarle opacidad */
    filter: opacity(60%);
    color: var(--beige-arena);
    transition: all 0.5s;
}

.contenedor header .telefono{
    /*ocupe 1/3 del header*/
    width: 33.33%;
    text-align: center;
    color: var(--marron);
    font-weight: 600;
}

/* Footer */
.contenedor .final_web{
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.contenedor footer p{
    /* se centre el texto */
    text-align: center;
    color: var(--marron);
    font-weight: 600;
}

/* Menú */

.contenedor .navbar{
    width: 100%;
    background-color: var(--blanco-opacidad);
    padding: 1.5rem;
}
.contenedor .menu{
    position: relative;
    display: flex;
    /* los elementos tienen el mismo espacio alrededor */
    justify-content: space-around;
}

.contenedor .menu li{
    list-style: none;
}

.contenedor .menu li a{
    /* no este el subrayado del texto */
    text-decoration: none;
    color: var(--marron);
    font-weight: 600;
    padding: 1rem;
    font-size: 1em;
    text-transform: uppercase;   
}

.contenedor .menu li a:hover{
    filter: opacity(50%);
    transition: all 0.2s;
}


#ckbox,.drawer{
    /* que no se vea */
    display: none;
}


/******************** Media Query *****************/
@media (max-width: 1020px) {
    /* El responsive del nav esta sacado de una clase de Raul */

    /*  responsive del menu */
    .navbar{
        /* elementos flexibles se alinean al inicio */
        justify-content: flex-start;
    }

    .menu {
        /* posicion fija */
        position: fixed;
        width: 50%;
        /* que se esconda, llevandolo a la izquierda,
        por fuera de la pantalla */
        left: -100%;
        height: 0px;
        text-align: left;
        transition: all 0.5s;
        flex-direction: column;
        /* ajusta las lineas dentro de un contenedor flex */
        align-content: stretch;
    }
    
    .menu li {
        display:flex;
        flex-direction: column;
        padding-left:2rem;
    }

    .menu li a{
        text-align: left;
    }

    /* cuando esté marcado, salen los elementos que 
    estaban escondidos y la altura se actualiza a 40vh */
    #ckbox:checked ~.menu {
        left: 0;
        height: 40vh;
    }

    /* muestra la hamburguesa */
    .drawer {
        display: block;
    }


}

@media (max-width: 540px) {
    .contenedor .cabecera {
        justify-content: center;
    }

    .contenedor .cabecera .logo {
        width: 100%; 
    }

    /* hace que el logo ocupe todo el ancho */
    .contenedor .cabecera .logo img {
        max-width: 100%; 
    }

    /* En formato movil desaparece */
    .contenedor .cabecera .reservaForm,
    .contenedor .cabecera .telefono {
        display: none;
        width: 0;
    }
}

/*****************PUBLICACIONES*******************/
.contenedorPubli {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.contenedorPubli h1{
    text-transform: uppercase;
    color:var(--marron);
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-bottom: 2rem;
}

.contenedorPubli .filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color:var(--marron);
}

select {
    border-radius: 5px;
    font-size: 15px;
    color:var(--marron);
}

input  {
    padding: 5px;
    font-size: 1rem;
    color:var(--marron);
    border-radius: 5px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 30px;
}

.cuadro {
    border:1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 100%;
    color: var(--marron);
}

.cuadro:hover {
    opacity: 0.6;
}

.cuadro img {
    width: 100%;
    height: auto;
}

.cuadro-cont {
    padding: 15px;
    color:var(--marron);
}

.cuadro h3 {
    font-size: 1.2rem;
    color: var(--marron);
}

.cuadro p{
    font-size: 0.95rem;
}

.cuadro .subtitular {
    font-size: 0.5rem;
}

.leer-mas {
    display: block;
    margin-top: 10px;
    color: var(--marron-oliva);
}

/*****************NOTICIAS*******************/
.contenedorNews {
    max-width: 1150px;
    margin: 40px auto;
    padding: 0 20px;
}

.contenedorNews h1{
    text-transform: uppercase;
    color:var(--marron);
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-bottom: 2rem;
}

.cuadro-news {
    background-color: var(--blanco-opacidad);
    border: 1px solid var(--beige-arena-claro);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    /*flex-direction: column; /*Elementos apilados verticalmente (de arriba hacia abajo)*/
}

.cuadro-news .flex {
    flex-direction: column; /*Elementos apilados verticalmente (de arriba hacia abajo)*/
}

.news-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.news-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.news-nombre {
    font-size: 14px;
    color: var(--marron);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

h2 a {
    text-decoration: none;
    color: var(--marron);
}

h2 a:hover {
    text-decoration: underline;
    color: var(--marron-oliva);
}

p {
    font-size: 14px;
    color: var(--marron-oliva);
    margin-bottom: 10px;
    line-height: 1.5;/*altura de la línea de texto*/
}

.news-date {
    font-size: 12px;
    color: var(--marron-oliva);
    margin-bottom: 10px;
}

.news-img {
    width: 120px;
    height: 120px;
    object-fit: cover;  /*el contenido se escala para llenar completamente el contenedor, manteniendo su relación de aspecto, pero recortando las partes que no caben.*/
    border-radius: 5px;
    margin-left: auto; 
}